<!DOCTYPE html>
<html>
<head>
    <title></title>
	<meta charset="utf-8" />
</head>
<body>
    <h1 style="text-align:center">User Information</h1>
    <h3>Your account has been created from MODDLE.</h3>
    <h4>Your details are attached below:</h4>
    <table>
        <tr>
            <td><b>Name</b></td>
            <td>{user_name}</td>
        </tr>
        <tr>
            <td><b>Email</b></td>
            <td>{user_email}</td>
        </tr>
        <tr>
            <td><b>Password</b></td>
            <td>{user_pwd}</td>
        </tr>
    </table>
    <h4>Regards Team MODDLE.</h4>
</body>
</html>
