
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--================Start About Area =================-->
<section id="fh5co-home" data-section="home" style="background-image: url('/images/header.jpg');" data-stellar-background-ratio="0.1   ">
    <div class="overlay"></div>
    <div class="container">
        <div class="text-wrap">
            <div class="text-inner">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1 to-animate">
                        <h1>Stay On Top Whats Going On At School</h1>
                        <div class="call-to-action">
                            <a href="~/Account/Login" @*class="download"*@ id="getStarted">Get Started?</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="fh5co-about" data-section="about">

    <div class="container">

        <div class="row">
            <div class="col-md-12 section-heading text-center">
                <h2 class="style">About US</h2>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 subtext">
                        <h3>This site is a communication platform between students and teachers. This site also notifies the student's parents about their child's progress and result. </h3>
                    </div>
                </div>
            </div>
        </div>



        @* Parents *@
        <div class="row">

            <div class="col-md-6">
                <h2 class="style"><br /><br />PARENTS</h2>
                <span style="background: linear-gradient(120deg,#ffe70d,rgba(255,231,13,.6));
                 border-radius: 4px;color: #000;font-style: italic;padding: 0 10px;font-weight: 300;font-size: 1.66667rem;
                 line-height: 1.2;letter-spacing: .01389rem;">Stay on top of what’s going on at school.</span>
                <p class="lead">From assignments to activities to closures, MODDLE makes sure you get the information you need, when you need it, right on your phone.</p>
                <div class="call-to-action to-animate fadeInUp animated"><a href="~/Home/ParentRM" class="btn btn-info" id="getStarted" style="background-color:#00558E;">Read More <i class="fas fa-arrow-alt-circle-right"></i></a></div>
            </div>
            <div class="col-md-6">
                <img src="~/images/team/p2.jpg" class="img-shadow img-responsive" style="box-shadow: 5px 10px 8px 10px #888888;" alt="img">
            </div>
        </div>

        @* Students *@
        <div class="row">

            <div class="col-md-6">
                <img src="~/images/team/student.jpg" class="img-shadow img-responsive" style="box-shadow: 5px 10px 8px 10px #888888;" alt="img">
            </div>
            <div class="col-md-6">
                <h2 class="style"><br /><br />STUDENT</h2>
                <span style="background: linear-gradient(120deg,#ffe70d,rgba(255,231,13,.6));
                 border-radius: 4px;color: #000;font-style: italic;padding: 0 10px;font-weight: 300;font-size: 1.66667rem;
                 line-height: 1.2;letter-spacing: .01389rem;">Trying to relieve your burden</span>
                <p class="lead">Harness the communication that's already happening to bring meaningful engagement to every classroom and school</p>
                <div class="call-to-action to-animate fadeInUp animated"><a href="~/Home/StudentRM" class="btn btn-info" id="getStarted" style="background-color:#00558E;">Read More <i class="fas fa-arrow-alt-circle-right"></i></a></div>

            </div>

        </div>


        @* Teachers *@
        <div class="row">

            <div class="col-md-6">
                <h2 class="style"><br /><br />TEACHER</h2>
                <span style="background: linear-gradient(120deg,#ffe70d,rgba(255,231,13,.6));
                 border-radius: 4px;color: #000;font-style: italic;padding: 0 10px;font-weight: 300;font-size: 1.66667rem;
                 line-height: 1.2;letter-spacing: .01389rem;">You Are Making a Difference in a Child's Life Every Day</span>
                <p class="lead">A medium for teachers to communicate with their students. Making it easier for Teachers to upload results and assignments. Teachers can make announcements online for students.</p>
                <div class="call-to-action to-animate fadeInUp animated"><a href="#" class="btn btn-info" id="getStarted" style="background-color:#00558E;">Read More <i class="fas fa-arrow-alt-circle-right"></i></a></div>
            </div>
            <div class="col-md-6">
                <img src="~/images/team/teacher.jpg" class="img-shadow img-responsive" style="box-shadow: 5px 10px 8px 10px #888888;" alt="img">
            </div>
        </div>


    </div>
</section>
<div class="getting-started getting-started-1">
    <div class="container">
        <div class="row">
            <div class="col-md-6 to-animate">
                <h3>Getting Started</h3>
                <p>Click on login to use our sailent features.</p>
            </div>
            <div class="col-md-6 to-animate-2">
                <div class="call-to-action text-right">
                    <a href="~/Account/Login" id="getStarted" class="sign-up">Login</a>
                </div>
            </div>
        </div>
    </div>
</div>


<section id="fh5co-services" data-section="services">
    <div class="fh5co-services">
        <div class="container">
            <div class="row">
                <div class="col-md-12 section-heading text-center">
                    <h2 class="to-animate style">More Services</h2>
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 subtext">
                            <h3 class="to-animate">Here you can lessen your burden, you can use our services to make your day beautiful in easy way.</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="box-services">
                        <i class="fa fa-shield-alt to-animate-2"></i>
                        <div class="fh5co-post to-animate">
                            <h3 style="color:gray;">Simple to Use</h3>
                            <p>If your community can text, they can use MODDLE.</p>
                        </div>
                    </div>


                </div>
                <div class="col-md-4">
                    <div class="box-services">
                        <i class="fa fa-user-shield to-animate-2" style=""></i>
                        <div class="fh5co-post to-animate">
                            <h3 style="color:gray;">Two-way messaging</h3>
                            <p>A direct line between the people who matter most to student success.</p>
                        </div>
                    </div>


                </div>
                <div class="col-md-4">
                    <div class="box-services">
                        <i class="fa fa-shield-alt to-animate-2"></i>
                        <div class="fh5co-post to-animate">
                            <h3 style="color:gray;">Easiness For Student</h3>
                            <p>Making communication easier for educators—not more complicated.</p>
                        </div>
                    </div>

                </div>
            </div>
            <div class="call-to-action text-center to-animate"><a href="~/Account/Login" id="getStarted" class="btn btn-learn" style="">Get Started?</a></div>
        </div>
    </div>
</section>

<!--================End Contact Area =================-->
