
@{
    ViewBag.Title = "ParentRM";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<div class="container" style="" id="LoginForm">
    <center>
        <img src="~/images/parent1.jpg" style="width:50%; height:10%;" alt="Alternate Text" />
    </center>
    <p style="color:black;">
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Parents play important role in building their kids future. To make sure they take right steps at right time, they must be aware of whats going on withe there kids.
        We have designed this system for such purposes. Our system upload their kid's result on parents end too. So that they make right decisions at right time.
        This is what we are offering for parents in our system.
    </p>
    <h3 style="color:#00558E;"><b>Child's Academic Score</b></h3>
    <p style="color:black;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Parents or Guardians should be informed of their child's academic progress in schools and colleges. Parents can see their kid's result on their accounts with just one click.
    As soon as teacher uploads the result, it will be updated on both, the student's and his parent's account. This feature not only help parents but it will affect student's working
    and outcomes, if they know that there parents are seeing his result.</p>
    <h3 style="color:#00558E;"><b>Announcements Via Email</b></h3>
    <p style="color:black;">
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Parents will be informed of result updates via email. if their child's result is below 50% they will be informed in the form of email.
        In this way we can keep the parents fully informed and aware of their kid's progress.
    </p>
    <h3 style="color:#00558E;"><b>Easy To Use</b></h3>
    <p style="color:black;">
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; This system uses simple english as main language. It is easay to understand for parents of all occupations.
        we have also made it simple to use as most of the features are on a single click.
    </p>
</div>      
