
@{
    ViewBag.Title = "StudentRM";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<div class="container" style="" id="LoginForm">
    <center>
        <img src="~/images/student.jpg" style="width:50%; height:10%;" alt="Alternate Text" />
    </center>
    <p style="color:black;">
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;This system is based on the idea of making things easier for students. Following are some of the features in this regard.
    </p>
    <h3 style="color:#00558E;"><b>View Result and Timetable</b></h3>
    <p style="color:black;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Parents or Guardians should be informed of their child's academic progress in schools and colleges. Parents can see their kid's result on their accounts with just one click.
    As soon as teacher uploads the result, it will be updated on both, the student's and his parent's account. This feature not only help parents but it will affect student's working
    and outcomes, if they know that there parents are seeing his result.</p>
    <h3 style="color:#00558E;"><b>Join Classrooms</b></h3>
    <p style="color:black;">
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Parents will be informed of result updates via email. if their child's result is below 50% they will be informed in the form of email.
        In this way we can keep the parents fully informed and aware of their kid's progress.
    </p>
    <h3 style="color:#00558E;"><b></b></h3>
    <p style="color:black;">
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; This system uses simple english as main language. It is easay to understand for parents of all occupations.
        we have also made it simple to use as most of the features are on a single click.
    </p>
</div>      
